/*--------------------------------*- C++ -*----------------------------------*\
  =========                 |
  \\      /  F ield         | OpenFOAM: The Open Source CFD Toolbox
   \\    /   O peration     | Website:  https://openfoam.org
    \\  /    A nd           | Version:  dev
     \\/     M anipulation  |
\*---------------------------------------------------------------------------*/
FoamFile
{
    version     2.0;
    format      ascii;
    class       dictionary;
    location    "system";
    object      sample;
}
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * //

type sets;
libs            ("libsampling.so");

interpolationScheme cellPoint;

setFormat       raw;

sets
(
    line
    {
        type    face;
        axis    x;
        start   (0 1e-4 0.005);
        end     (1.5 1e-4 0.005);
        nPoints 4000;
    }
);

fields
(
    rho
    p
    U
    grad(p)
    Mach

    O2
    O
    O2+
    O+
    e-

    nD_O2
    nD_O
    nD_O2+
    nD_O+
    nD_e-
        
    Tt
    Tv

    tauVT_O2
    tauVT_O2+

    Kn_ov
    KnGLL

    Cpt
    Cpvel
);

// ************************************************************************* //

